---
import Layout from "@layouts/Layout.astro"
import Scene from "@components/Scene.tsx"
---

<Layout title='Welcome to Astro.'>
  <main>
    <Scene client:load />
  </main>
</Layout>

<style>
  main {
    height: 100vh;
  }
</style>
